.search {
  display: flex;
  align-items: center;
}
.flag,
button {
  margin-left: 20px;
}

.search label {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.search label input {
  margin-right: 5px;
}