.nav {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  background-color: #008c8c;
}
.nav a {
  display: block;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
}
.nav a.active {
  color: yellow;
}
.page {
  width: 1800px;
  margin: 0 auto;
}
.page1 {
  background-color: lightpink;
}
.page2 {
  background-color: lightgoldenrodyellow;
}
