.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin: 20px 0;
}
.table thead{
  background-color: rgb(199, 199, 199);
}
.table tr {
  height: 50px;
}
.table tr:nth-child(2n) {
  background-color: #eee;
}
.table tr:hover{
  background-color: rgb(204, 204, 204);
}