.three-layout {
    display: flex;
    height: 100%;
}

.left-content {
    flex-shrink: 1;
    order: 1;
}

.right-content {
    flex-shrink: 1;
    order: 3;
}

.main-content {
    flex: 1 1 auto;
    order: 2;
}