.page{
  width: 100%;
  display: flex;
  justify-content: center;
}
.page span{
  display: block;
  padding: 7px 15px;
  border: 1px solid #eee;
  margin: 0 10px;
  cursor: pointer;
  font-size: 14px;
}
.page span:hover{
  background-color: rgb(212, 211, 211);
  color: #fff;
}
.page span.symbol:hover{
  background: none;
  color: #000;
}
.page span.active{
  background-color: rgb(20, 120, 250);
  color: #fff;
}