.container {
    width: 400px;
    margin: 0 auto;
    position: relative;
}

.title {
    position: absolute;
    left: 0;
    top: 0;
}

.exit-active,
.exit-done {
    transition: 2000ms;
    transform: translateX(-200px);
    opacity: 0;
}

.enter {
    opacity: 0;
    transform: translateX(200px);
}

.enter-active,
.enter-done {
    transition: 2000ms;
    opacity: 1;
    transform: translateX(0);
}